h1{
  font-size: 40px;
  letter-spacing: 2px;
  margin-top: 10vh;
}

h2{
  font-size: 40px;
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 0;
}

h3{
  font-size: 18px;
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 0;
}

h4{
  font-size: 40px;
  letter-spacing: 2px;
  margin-top: 0;
}

button {
  font-family: 'Roboto Slab', serif !important;
  font-weight: 400;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pushupButton{
  width: 70vw;
  height: 70vw;
  border-radius: 50%;
  background-color: #979797;
  color: #282C34;
  border: none;
  font-size: 40px;
  font-weight: 700;

  background-image: linear-gradient(-180deg, #EEEEEE 0%, #E1E1E1 52%, #B0B0B0 100%);
  border: 3px solid #979797;
  font-size: 26px;
  color: #282C34!important;
  letter-spacing: 1.93px;
  text-align: center;
  margin-bottom: 5vh;
}

.pushupButton:disabled{
  background-image: linear-gradient(-180deg, rgb(177, 177, 177) 0%, rgb(177, 177, 177) 52%, rgb(177, 177, 177) 100%);
}

.ranking-list{
  padding: 0;
  width: 80vw;
}

.ranking-list-item{
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #5F5F5F;
  margin-bottom: 9px;
  padding-left: 5px;
  padding-right: 5px;
}

.header-bar{
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.header-item{
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: none;
  text-decoration: none;
}

.ranking-button{
  font-size: 16px;
}

.logout-button{
  font-size: 16px;
  letter-spacing: 1.6px;
  font-family: 'Roboto Slab', serif !important;
  font-weight: 400;
}

.amount-button{
  background: #545454;
  color: white;
  border: 2px solid #979797;
  border-radius: 10px;
  width: 90%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-bottom: 20px;
  text-decoration: none;
}

.welcome-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.welcome-screen{
  height: 100vh;
  width:100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input{
  margin-bottom: 30px;
  border: 2px solid #979797;
  border-radius: 10px;
  width: 90%;
  height: 50px;
  text-align: center; 
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.ranking{
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 50px;
}

.bold{
  font-weight: 800;
  color: white!important;
  text-decoration: none;;
}

.ReactModal__Content--after-open{
  background-color: #282c34!important;
  color: white!important;
}

.modal{
  display: flex;
  justify-content: sapce-araound;
  align-items: center;
  flex-direction: column;
}

.modal-title{
  font-size: 20px;
  margin-top: 45px;
  margin-bottom: 45px;
}
.stats-wrapper{
  width: 90%;
}
.ranking-numbers{
  font-family: 'Roboto Slab', serif !important;
  font-weight: 400;
}
